// Flex
.flex{
  &-center, &-centered{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-left{
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

// Display
.hidden{
  display: none !important;
}


// Alignment
.text-center{
  text-align: center !important;
}
.text-left{
  text-align: left !important;
}
.text-right{
  text-align: right !important;
}

// Title
.title{
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.25rem;
  font-size:  1rem;
  line-height: 1.2rem;
  display: block;
  margin: spacing(sm) 0;
  text-decoration: none;
  color: color(dark);
}


// Opacity
.o{
  transition: opacity 500ms ease;
  &-0{
    opacity: 0;
  }
  &-1{
    opacity: 1.0;
  }
}
