// Flex
.flex{
  display: flex;
  &-center, &-centered{
    justify-content: center;
    align-items: center;
  }
  &-left{
    justify-content: left;
    align-items: center;
  }
  &-column{
    flex-direction: column;
  }
  &-sb {
    justify-content: space-between;
    align-items: center;
  }
}

// Display
.hidden{
  display: none !important;
}


// Alignment
.text-center{
  text-align: center !important;
}
.text-left{
  text-align: left !important;
}
.text-right{
  text-align: right !important;
}

// Title
.title{
  @include smallCaps;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.2rem;
  display: block;
  margin: spacing(sm) 0;
  text-decoration: none;
}


// Opacity
.o{
  transition: opacity 500ms ease;
  &-0{
    opacity: 0;
  }
  &-1{
    opacity: 1.0;
  }
}
