$z-indexes: (
  background: -100,
  default: 0,
  navbar: 100,
  sidebar: 200,
  overlay: 300
);

@function z($key) {
  // Create a `z` function to easily get any z-index value, i.e, `z(brand)`
  @if map-has-key($z-indexes, $key) {
    @return map-get($z-indexes, $key);
  }

  @warn "Unknown `#{$key}` in $z-indexes.";
  @return null;
}

@each $name, $z-index in $z-indexes {
  // Create utility classes for every z-index
 .z-index\:#{$name}, .c\:#{$name} {
   z-index: $z-index !important;
  }
}
