---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: directory
  path: content/rooms
  label: Räume
  create: all
  match: "**/*"
  templates:
  - image-and-text
- type: directory
  path: content/about
  label: Über
  create: documents
  match: "**/*"
  templates:
  - image-and-text
- type: directory
  path: content/services
  label: Leistung
  create: documents
  match: "**/*"
  templates:
  - image-and-text
- type: directory
  path: content/projects
  label: Projekte
  create: all
  match: "**/*"
  templates:
  - text-and-multiple-images
upload_dir: ''
public_path: https://res.cloudinary.com/tonipanoche/image/upload
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_output_directory: src/dist
  install_dependencies_command: yarn install
  preview_docker_image: node:10
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run forestry:preview
