---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: heading
  label: Content
- type: directory
  path: content/rooms
  label: Räume
  create: documents
  match: "**/*"
  templates:
  - image-and-text
- type: directory
  path: content/about
  label: Über
  create: documents
  match: "**/*"
  templates:
  - image-and-text
  - text-with-links
- type: directory
  path: content/services
  label: Leistung
  create: documents
  match: "**/*"
  templates:
  - image-and-text
- type: directory
  path: content/projects
  label: Projekte
  create: documents
  match: "**/*"
  templates:
  - text-and-multiple-images
- type: directory
  path: content/misc
  label: Andere
  create: all
  match: "**/*"
  templates:
  - contact-page
  - text-with-links
- type: heading
  label: Data
- type: directory
  path: content/data
  label: Data Files
  create: all
  match: "**/*"
  new_doc_ext: json
upload_dir: ''
public_path: https://res.cloudinary.com/dwvtvuml8/image/upload/q_auto,f_auto,dpr_auto
front_matter_path: https://res.cloudinary.com/dwvtvuml8/image/upload/q_auto,f_auto,dpr_auto
use_front_matter_path: true
file_template: ":filename:"
build:
  preview_output_directory: src/dist
  install_dependencies_command: yarn install
  preview_docker_image: node:10
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run forestry:preview
