---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: directory
  path: uber
  label: Uber
  create: documents
  match: "**/*"
  templates:
  - image-and-text
  - just-text
- type: directory
  path: leistung
  label: Leistung
  create: documents
  match: "**/*"
  templates:
  - leistung
- type: directory
  path: projekte
  label: Projekte
  create: all
  match: "**/*"
upload_dir: derRaum
public_path: https://res.cloudinary.com/tonipanoche/image/upload/derRaum
front_matter_path: ''
use_front_matter_path: false
file_template: 'derRaum/:filename:'
build:
  preview_output_directory: src/dist
  install_dependencies_command: yarn install
  preview_docker_image: node:10
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run forestry:preview
