@import 'config/index';
@import 'helpers/breakpoints';

// Global styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

}

body {
  margin: 0;
  -webkit-text-size-adjust: none;
  @include respond-to('large') {
    -webkit-text-size-adjust: inherit;
  }
  &.no-scroll {
    // position: fixed;
    overflow: hidden;
  }
}
