$black: #333333;
$dark: #5D5D5D;
$light: #B3B3B3;
$blue: #182E3D;
$red: #FB5356;
$yellow: #F5CB5C;
$green: #71BF5D;
$white: white;

$names: black dark light blue red yellow green white;

@mixin colors($colors...) {
  @for $i from 0 to length($colors) {
    $name: nth($names, $i + 1);
    $color: nth($colors, $i + 1);
    .c-#{$name}, .color-#{$name} {
      color: $color !important;
    }
    .bg-#{$name}, .background-#{$name} {
      background-color: $color !important;
    }
    .f-#{$name}, .fill-#{$name} {
      fill: $color !important;
    }
  }
}

@include colors($black, $dark, $light, $blue, $red, $yellow, $green, $white);
