$nav-height: 5.5rem;
$banner-height: 80vh;
$container-min-width: 60ch;
$container-max-width: 80vw;
$stack-space: 1.5rem;
$badge-max-width: 12ch;
$border-radius: 4px;
$column-width: 15ch;
$sidebar-space: 1.5rem;
